# Serve /about URL from /dist/assets/ directory
RewriteRule ^about$ /dist/AboutView-0db79171.js [L]

# Serve other URLs normally
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /dist/index.html [L]

