RewriteEngine On
RewriteBase /
RewriteRule ^index.html$ - [L]
RewriteRule ^about$ /assets/AboutView-804fc343.js [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]